.App {
    background-color: #282c34;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: solid rgb(234, 22, 22);
    text-wrap: wrap;
    font-size: small;
    overflow-x:hidden;
  }

  .winds{
    text-wrap: wrap;    
  }

  .IFR {
    color: red;
  }

  .VFR {
    color: rgb(42, 197, 31);
  }
  .MVFR {
    color: rgb(228, 226, 73);
  }
  .LIFR {

    color :rgb(225, 31, 189)
}
.clear{
  color :rgb(67, 146, 230)


}

.footer {
    background-color: rgb(57, 45, 37);
    text-align: center;
    position: fixed;
    padding: 1px;
    width: 100vw;
    left: 0;
    bottom: 10px;
    color: white;
    font-size: 18px;
}