.App {
    background-color: #282c34;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    color: white;
    border: solid rgb(234, 22, 22);
    text-wrap: wrap;
    font-size: small;
    overflow-x: scroll;
  }

  .winds{
    text-wrap: wrap;    
  }

  .IFR {
    color: red;
  }

  .VFR {
    color: rgb(42, 197, 31);
  }
  .MVFR {
    color: rgb(228, 226, 73);
  }
  .LIFR {

    color :rgb(225, 31, 189)
}

  .footer{
    text-align: center;
  }