.App {
    background-color: #282c34;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: solid rgb(234, 22, 22);
    text-wrap: wrap;
    font-size: small;
    overflow-x:hidden;
    line-height: 15px;
  }

  .airPort_1{

    border: solid 1px red;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }

  .gust{
    color : yellow
  }

  .winds{
    text-wrap: wrap;    
  }

  .IFR {
    color: red;
  }

  .VFR {
    color: rgb(42, 197, 31);
  }
  .MVFR {
    color: rgb(73, 138, 228);
  }
  .LIFR {

    color :rgb(225, 31, 189)
}

.prectype{
  color :rgb(0, 0, 0);
  background-color: rgb(51, 46, 39);
  width: max-content;
  height: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  animation: blink 1s   infinite linear ;
}

@keyframes blink {
  0%, 49% {
    background-color: rgb(35, 130, 168);
  }
  50%, 100% {
    background-color: #e50000;
  }
}

.noprecip{
  color:rgb(33, 220, 16)
}
.precip{
  color:rgb(222, 155, 79)
}

.freeze{
  color : rgb(139, 175, 234);
}
.currenttime{
  color: green;
}

.oldTime{
  color: red;
}

.footer {
    background-color: rgb(57, 45, 37);
    text-align: center;
    position: fixed;
    padding: 1px;
    width: 100vw;
    left: 0;
    bottom: 10px;
    color: white;
    font-size: 15px;
}